@{
    Layout = "../Shared/Layout";
}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <link rel="stylesheet" href="../CSS/Comentarios.css">
</head>
<body>
    <section class="content">
        <h2>Depoimentos do produto</h2>
        
        <hr style="width:75% ; margin:1em auto;">
        <form class = "flex-column flex-centered" action="/Comentario/Comentarios" method="post">
            <div class="flex-container">
                <a href="">
                    <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padrão">
                </a>
                <label for="Comment">Escreva um comentario</label>
            </div>
            <textarea id="Comment" name="Comment" cols="30" rows="10" maxlength="500" minlength="3" required></textarea>
            
            <input type="submit" value="Enviar Comentario">
        </form>
    </section>
</body>
</html>