@using Web_ProjetoCarfel.Models;
@using Web_ProjetoCarfel.Controllers;
@{
    Layout = "../Shared/Layout";
    Usuario usuario = ViewData["Usuario"] as Usuario;
    List<Comentario> lista = ViewData["Lista"] as List<Comentario>;
}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <link rel="stylesheet" href="../CSS/Comentarios.css">
</head>
<body>
    <section class="content">
        <h2>Depoimentos do produto</h2>
        <div class="comment-container flex-container">
            @foreach (Comentario item in lista){
                Usuario user = UsuarioController.database.Procurar(item.IDUsuario.ToString());
                <div class="comment border-container flex-container">
                    <a href="../Usuario/Perfil?id=@user.ID">
                        <img class="profile-pic" src="../FotosPerfil/@user.FotoPerfilNome" alt="Comentario de @user.Nome">
                    </a>
                    <div class="flex-column">
                        <a href="../Usuario/Perfil?id=@user.ID">@user.Nome</a>
                        <p class="quote">@item.Comentario_</p>
                        <p>@item.DataCriacao.ToShortDateString()</p>
                    </div>
                </div>
            }
        </div>
        <hr style="width:75% ; margin:1em auto;">
        
        @if(usuario != null){
        <form class = "flex-column flex-centered" action="/Comentario/Comentarios" method="post">
            <div class="flex-container">
                <a href="">
                    <img class="profile-pic" src="../FotosPerfil/@usuario.FotoPerfilNome" alt="Foto de perfil padrão">
                </a>
                <label for="Comment">Escreva um comentario</label>
            </div>
            <textarea id="Comment" name="Comment" cols="30" rows="10" maxlength="500" minlength="3" required></textarea>
            
            <input type="submit" value="Enviar Comentario">
        </form>
        }
    </section>
</body>
</html>