    <section class="content flex-column flex-centered">
        <h1>Perfil do Usuario [Usuario]</h1>
        <div class="profile flex-container border-container">
            <div class="pic">
                <a href="">
                    <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padrão">
                </a>
            </div>
            <!-- Gerado -->
            <div id="info"> 
                <p>Nome : <span>[Nome do usuario]</span></p>
                <p>Email : <span>[Email do usuario]</span></p>
                <p>Senha : <span>[Senha do usuario]</span></p>
                <p>Data de Nascimento : <span>[Data de Nascimento do usuario]</span></p>                
                <p>ID :<span>[ID do usuario]</span></p>
                <p>Data de criação :<span>[Data de criação do usuario]</span></p>
            </div>
            <!--Gerado (exclusivo ADM)-->
            <div id="adm-buttons" class="flex-column">
                <a href="" class="custom-button">Mostrar usuario</a>
                <a href="" class="custom-button">Aprovar comentarios</a>
            </div>
        </div>
    </section>
