.content > div {
    justify-content: space-evenly;
}
.content > div > section{
    margin: 1em;
}

/* Mapa */
.gmap-canvas {
    overflow:hidden;
    background:none!important;  
}

.gmap-canvas iframe{
    width:600px;
    height:500px;
    border:0px;
}

.map-outer h2{
    padding-bottom:0.75em!important; 
}

.map-outer > div:last-child{
    padding: 0.75em 0em;
}

.map-outer > div:last-child > p {
    cursor: text;
    text-align: center;
    font-weight: 600;
}

/*form*/
.content section{
    background-color: #C9C9C9;
}

.content section:first-child{
    margin-top: 60px;
    padding: 1em 3.5em 1em 3.5em;
    max-height: 564px;
}

form textarea{
    margin-bottom: 0px;
}

@media screen and (max-width:1100px) {
    .content section:first-child{
        padding: 1em 1em 1em 1em;
    }
}

@media screen and (max-width:850px) {
    .content > div{
        display: block;
        margin: auto;
        width: 80%;
    }
    .content section:first-child{
        padding: 1em 3.5em 1em 3.5em;
        margin-top: 30px;
    }
}

@media screen and (max-width:600px) {
    .content > div{
        width: 100%;
    }
    .content section:first-child {
        margin-top: 0px;
    }
}

@media screen and (max-width:400px) {
    .content section{
        padding: 1em 1em 1em 1em;
        border: 3px solid cornflowerblue;
        border-radius: 0%;
        background-color: white;
    }
    .content{
        padding: 0em;
    }
    .gmap-canvas iframe{
        width:600px;
        height:300px;
        border:0px;
    }
    .content > div > section {
        margin: -0.3em 0em 0em 0em;
    }

    footer{
        margin: -0.3em 0em 0em 0em;
    }
    
}