p{
    font-family: 'Comic Sans MS';
    font-size: 128px;
    color: yellowgreen;
    text-align: center; 
    cursor: none;
}

body{
    animation: gambi-anim 1s ease 0s infinite alternate forwards;
}

@keyframes gambi-anim{
    0%{
        background-color: black;
    }
    10%{
       background-color: orange;
    }
    20%{
        background-color: aqua;
    }
    30%{
        background-color: purple;
    }
    40%{
        background-color:gray;
    }
    50%{
        background-color: red;
    }
    60%{
        background-color: green;
    }
    70%{
        background: chocolate;
    }
    80%{
        background-color: floralwhite;
    }
    90%{    
        background-color: fuchsia;
    }
    100%{
        background-color: midnightblue;
    }
}