/*menu*/
.menu-option{
    margin:1em 1em;
    height: 340px;
    width: 30%;
    background-size: cover;
    background-position: center;
}

/*Fotos*/
.menu > .menu-option:first-child{
    background-image: url("../Resources/HomePage/home-page-1.jpg");
    background-position: 40% 50%;
}

.menu > .menu-option:nth-child(2){
    background-image: url("../Resources/HomePage/home-page-2.jpeg");
}

.menu > .menu-option:nth-child(3){
    background-image: url("../Resources/HomePage/home-page-3.jpg");
}
/*Botões abaixo da foto*/
.menu-option > div:last-child{
    position: relative;
    top: 82%;
    height: 20%;
    background-color: white;
    margin: -2px;
}

.menu-option > div:last-child a{
    font-weight: 900;
    color:#4F4D4D;
    font-size: 1.2em;
}
.menu-option > div:last-child:hover{
    background-color:#C9C9C9; 
}

/*Comentarios*/

section > a{
    color: black;
    font-size: 1.5em;
    font-weight: 700;
}
section > a:hover{
    color:#4F4D4D;
}

@media screen and (max-width:1000px){
    .menu-option{
        height: 280px;
    }
}

@media screen and (max-width:800px){
    .menu-option{
        height: 240px;
    } 
}

@media screen and (max-width:600px){
    .menu{
        flex-direction: column;
        align-items: center;
    }
    .menu-option{
        width: 80%;
    } 
}