<div class="comment border-container flex-container">
    <a href="">
        <img class="profile-pic" src="" alt="">
    </a>
    <div>
        <p>[Nome do Usuario]</p>
        <p class="quote"></p>
    </div>
</div>