    @using Web_ProjetoCarfel.Models;

    <!-- arquivo separado  -->
    <div class="top">
        <nav class="header flex-container">
            <a id = "logo" href="" draggable="false"><img src="../Resources/Shared/checkPoint-logo.png" alt="Logo da checkpoint" draggable="false"></a>
            <a href="../Usuario/PaginaInicial">Home</a>
            <a href="../Usuario/SobreNos">Quem somos</a>
            <a href="../Usuario/Contato">Contato</a>
            <a href="../Usuario/PerguntasFrequentes">Perguntas Frequentes</a>
            <a href="../Usuario/Produto">Produto</a>
                @{
                    Usuario user = ViewData["Usuario"] as Usuario;
                    if(user == null ){
                        <a onclick='PopUp();'>Cadastro / Login</a>
                    }else{
                        <a href="../Usuario/Perfil?ID=user.ID">@user.Nome</a>
                    }
                }
        </nav>
    </div>
    <!------>