    <!-- arquivo separado  -->
    <div class="top">
        <nav class="header flex-container">
            <a id = "logo" href="" draggable="false"><img src="../Resources/Shared/checkPoint-logo.png" alt="Logo da checkpoint" draggable="false"></a>
            <a href="PaginaInicial.html">Home</a>
            <a href="SobreNos.html">Quem somos</a>
            <a href="Contato.html">Contato</a>
            <a href="PerguntasFrequentes.html">Perguntas Frequentes</a>
            <a href="Produto.html">Produto</a>
            <a onclick="PopUp();">Cadastro / Login</a>
        </nav>
    </div>
    <!------>