<section id="login-cadastro" class="flex-column hidden" onclick="PopUp();">
    <h2>Lorem ipsum</h2>
    <p>Ah eu sei lรก o que colocar aqui ;-; mas ficaria bonitinho</p>
</section>   

<section id="login" class="border-container rounded-container-full hidden">
    <h2>Login</h2>
    <form action="#" method="post" >
        <label>Email : 
            <input type="email" name="Email" required>
        </label>
        <label>Senha :
            <input type="password" name="Senha" required>
        </label>
        <input type="submit" value="Fazer Login">
    </form>
</section>

<section id="registrar" class="border-container rounded-container-full hidden">
    <h2>Registrar-se</h2>
    <form action="#" method="post">
        <label>Nome : 
            <input type="text" name="Nome" maxlength="80" required>
        </label>
        <label>Email : 
            <input type="email" name="Email" required>
        </label>
        <label>Confirmar Email : 
            <input type="email" name="CEmail" required>
        </label>
        <label>Senha :
            <input type="text" name="Senha" required>
        </label>
        <label>Confirmar :
            <input type="text" name="CSenha" required>
        </label>
        <input type="submit" value="Cadastrar-se">
    </form>
</section>