@{
    Layout = "../Shared/Layout";
}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <link rel="stylesheet" href="../CSS/Comentarios.css">
</head>
<body>
    <section class="content">
        <h2>Depoimentos do produto</h2>
        <div class = "comment-container flex-container">
            <div class="comment border-container flex-container">
                <a href="">
                    <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padr達o">
                </a>
                <div>
                    <p>[Nome do Usuario]</p>
                    <p class="quote">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sed esse distinctio, sunt facere officiis assumenda iste! Autem veritatis tenetur, voluptatibus velit odit sint aperiam, cupiditate mollitia minima, suscipit officiis.</p>
                </div>
            </div>
            <div class="comment border-container flex-container">
                <a href="">
                    <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padr達o">
                </a>
                <div>
                    <p>[Nome do Usuario]</p>
                    <p class="quote">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sed esse distinctio, sunt facere officiis assumenda iste! Autem veritatis tenetur, voluptatibus velit odit sint aperiam, cupiditate mollitia minima, suscipit officiis.</p>
                </div>
            </div>
            <div class="comment border-container flex-container">
                <a href="">
                    <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padr達o">
                </a>
                <div>
                    <p>[Nome do Usuario]</p>
                    <p class="quote">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sed esse distinctio, sunt facere officiis assumenda iste! Autem veritatis tenetur, voluptatibus velit odit sint aperiam, cupiditate mollitia minima, suscipit officiis.</p>
                </div>
            </div>
        </div>
        <hr style="width:75% ; margin:1em auto;">
        <form class = "flex-column flex-centered" action="#" method="post">
            <div class="flex-container">
                <a href="">
                    <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padr達o">
                </a>
                <label for="Comment">Escreva um comentario</label>
            </div>
            <textarea id="Comment" name="Comment" cols="30" rows="10" maxlength="500" minlength="3" required></textarea>
            
            <input type="submit" value="Enviar Comentario">
        </form>
    </section>
</body>
</html>