<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/PaginaInicial.css">
    <title>Home</title>
</head>
<body>
    <section class="content">
    <h1>Pagina inicial</h1>
        <div class="flex-container menu">
            <div class="menu-option border-container rounded-container-top">
                <a href="" draggable="false">
                    <img src="../Resources/HomePage/home-page-1.jpg" alt="Fale conosco" draggable="false">
                </a>
                <div class="flex-centered border-container rounded-container-top">
                    <a href="">Fale Conosco</a>    
                </div>
            </div>
            <div class="menu-option border-container rounded-container-top">
                    <a href="" draggable="false">
                        <img src="../Resources/HomePage/home-page-2.jpeg" alt="Fale conosco" draggable="false">
                    </a>
                    <div class="flex-centered border-container rounded-container-top">
                        <a href="">Nosso produto</a>    
                    </div>
                </div>
            <div class="menu-option border-container rounded-container-top">
                <a href="" draggable="false">
                    <img src="../Resources/HomePage/home-page-3.jpg" alt="Fale conosco" draggable="false">
                </a>
                <div class="flex-centered border-container rounded-container-top">
                    <a href="">Cadastre-se</a>    
                </div>
            </div>
            <a class="hidden" href="">Conheça nossa empresa</a>
        </div>
        <!-- será gerado -->
        <section class = "flex-column flex-centered">
            <h2>Depoimentos do produto</h2>
            <div class="comment-container flex-container">
                <div class="comment border-container flex-container">
                    <a href="" draggable="false">
                        <img class="profile-pic" src="../Resources/Shared/top-banner.jpeg" alt="Foto de perfil padrão" draggable="false">
                    </a>
                    <div>
                        <a href="">[Nome do Usuario]</a>
                        <p class="quote">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sed esse distinctio, sunt facere officiis assumenda iste! Autem veritatis tenetur, voluptatibus velit odit sint aperiam, cupiditate mollitia minima, suscipit officiis.</p>
                    </div>
                </div>
                <div class="comment border-container flex-container">
                    <a href="" draggable="false">
                        <img class="profile-pic" src="../Resources/Shared/top-banner.jpeg" alt="Foto de perfil padrão" draggable="false">
                    </a>
                    <div>
                        <a href="">[Nome do Usuario]</a>
                        <p class="quote">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sed esse distinctio, sunt facere officiis assumenda iste! Autem veritatis tenetur, voluptatibus velit odit sint aperiam, cupiditate mollitia minima, suscipit officiis.</p>
                    </div>
                </div>
                <div class="comment border-container flex-container">
                    <a href="" draggable="false">
                        <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padrão" draggable="false">
                    </a>
                    <div>
                        <a href="">[Nome do Usuario]</a>
                        <p class="quote">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sed esse distinctio, sunt facere officiis assumenda iste! Autem veritatis tenetur, voluptatibus velit odit sint aperiam, cupiditate mollitia minima, suscipit officiis.</p>
                    </div>
                </div>
                <div class="comment border-container flex-container">
                    <a href="" draggable="false">
                        <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padrão" draggable="false">
                    </a>
                    <div>
                        <a href="">[Nome do Usuario]</a>
                        <p class="quote">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sed esse distinctio, sunt facere officiis assumenda iste! Autem veritatis tenetur, voluptatibus velit odit sint aperiam, cupiditate mollitia minima, suscipit officiis.</p>
                    </div>
                </div>
                <a href="Comentarios.html">Ver mais comentarios</a>
            </div>
        </section>
    </section>
</body>
</html>