@using Web_ProjetoCarfel.Models;
@using Web_ProjetoCarfel.Controllers;
@{
    Layout = "../Shared/Layout";
    List<Comentario> comentarios = ViewData["Lista"] as List<Comentario>;
}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <link rel="stylesheet" href="../CSS/PaginaInicial.css">
</head>
<body>
    <section class="content">
    <h1>Pagina inicial</h1>
        <div class="flex-container menu">
            <div class="menu-option border-container rounded-container-top">
                <a href="" draggable="false">
                    <img src="../Resources/HomePage/home-page-1.jpg" alt="Fale conosco" draggable="false">
                </a>
                <div class="flex-centered border-container rounded-container-top">
                    <a href="">Fale Conosco</a>    
                </div>
            </div>
            <div class="menu-option border-container rounded-container-top">
                    <a href="" draggable="false">
                        <img src="../Resources/HomePage/home-page-2.jpeg" alt="Fale conosco" draggable="false">
                    </a>
                    <div class="flex-centered border-container rounded-container-top">
                        <a href="">Nosso produto</a>    
                    </div>
                </div>
            <div class="menu-option border-container rounded-container-top">
                <a href="" draggable="false">
                    <img src="../Resources/HomePage/home-page-3.jpg" alt="Fale conosco" draggable="false">
                </a>
                <div class="flex-centered border-container rounded-container-top">
                    <a href="">Cadastre-se</a>    
                </div>
            </div>
            <a class="hidden" href="">Conheça nossa empresa</a>
        </div>
        <!-- será gerado -->
        <section class = "flex-column flex-centered">
            <h2>Depoimentos do produto</h2>
            <div class="comment-container flex-container">
                @foreach (Comentario item in comentarios){
                Usuario user = UsuarioController.database.Procurar(item.IDUsuario.ToString());
                <div class="comment border-container flex-container">
                    <a href="../Usuario/Perfil?id=@user.ID">
                        <img class="profile-pic" src="../FotosPerfil/@user.FotoPerfilNome" alt="Comentario de @user.Nome">
                    </a>
                    <div class="flex-column">
                        <a href="../Usuario/Perfil?id=@user.ID">@user.Nome</a>
                        <p class="quote">@item.Comentario_</p>
                        <p>@item.DataCriacao.ToShortDateString()</p>
                    </div>
                </div>
                }
                <a href="../Comentario/Comentarios">Ver mais comentarios</a>
            </div>
        </section>
    </section>
</body>
</html>