<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/Perfil.css">
    <title>Perfil</title>
</head>
<body>
    <section class="content flex-column flex-centered">
        <h1>Perfil do Usuario [Usuario]</h1>
        <div class="profile flex-container border-container">
            <div class="pic">
                <a href="">
                    <img class="profile-pic" src="../Resources/Shared/null-user.png" alt="Foto de perfil padrão">
                </a>
            </div>
            <!-- Gerado -->
            <div id="info"> 
                <p>Nome : <span>[Nome do usuario]</span></p>
                <p>Email : <span>[Email do usuario]</span></p>
                <p>Senha : <span>[Senha do usuario]</span></p>
                <p>Data de Nascimento : <span>[Data de Nascimento do usuario]</span></p>                
                <p>ID :<span>[ID do usuario]</span></p>
                <p>Data de criação :<span>[Data de criação do usuario]</span></p>
            </div>
            <!--Gerado (exclusivo ADM)-->
            <div id="adm-buttons" class="flex-column">
                <a href="" class="custom-button">Mostrar usuario</a>
                <a href="" class="custom-button">Aprovar comentarios</a>
            </div>
        </div>
    </section>
</body>
</html>