<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/PerguntasFrequentes.css">
    <title>Perguntas Frequentes</title>
</head>
<body>
    <section class="content">
        <h2>Perguntas frequentes</h2>
        <aside id="float-summary" class="flex-column border-container">
            <h2>Sumario</h2>
            <ul>
                <li><a href="">Pergunta obvia 1</a></li>
                <li><a href="">Pergunta obvia 2</a></li>
                <li><a href="">Pergunta obvia 3</a></li>
                <li><a href="">Pergunta obvia 4</a></li>
                <li><a href="">Pergunta obvia 5</a></li>
                <li><a href="">Pergunta obvia 6</a></li>
                <li><a href="">Pergunta obvia 7</a></li>
                <li><a href="">Pergunta obvia 8</a></li>
                <li><a href="">Pergunta obvia 9</a></li>
                <li><a href="">Pergunta obvia 10</a></li>
                <li><a href="">Pergunta obvia 11</a></li>
            </ul>
        </aside>
        <ul id = "questions" class="flex-container border-container evenly-container">
            <li>
                <div class="question">
                    <h2>Pergunta 1</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 2</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 3</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 4</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates consequuntur, at excepturi nihil totam maxime rerum hic corporis, eligendi corrupti aliquam enim placeat voluptate perferendis! Earum ex perferendis harum quae?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 5</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 6</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 7</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 8</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 9</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 10</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
            <li>
                <div class="question">
                    <h2>Pergunta 11</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptate consequuntur pariatur ratione eligendi iste aliquam, porro commodi sint! Deserunt, saepe necessitatibus! Dignissimos fugit saepe nihil architecto iste nesciunt ab.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nam possimus aperiam reprehenderit maiores quam dicta, assumenda sunt laudantium recusandae! Porro asperiores explicabo omnis deleniti illum fugit adipisci velit dolor?
                    </p>
                </div>
            </li>
        </ul>
    </section>
</body>
</html>