<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/default.css">
    <link rel="stylesheet" href="../CSS/Produto.css">
    <script src="../Javascript/default.js"></script>
    <title>CheckPoint</title>
</head>
<body>
    <p class="hidden">Design é muito chato , meu deus do céu</p>
    <section class="content">
        <h1>Sobre nosso produto</h1>
        <div id="vantagens" class="flex-container">
            <div class="vantagem border-container rounded-container-top flex-column">
                <img src="../Resources/Produto/icon-func.png" alt="Icone Funcionario" draggable="false">
                <h3>Tome muito liquido</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur autem natus eos ex libero sed optio animi, hic aperiam iusto eligendi, repellendus temporibus quibusdam molestias modi, minima numquam laborum ipsa.</p>
            </div>
            <div class="vantagem border-container rounded-container-top flex-column">
                <img src="../Resources/Produto/icon-hierarchy.png" alt="Icone Hierarquia" draggable="false">
                <h3>Cuidado com o sol</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur autem natus eos ex libero sed optio animi, hic aperiam iusto eligendi, repellendus temporibus quibusdam molestias modi, minima numquam laborum ipsa.</p>
            </div>
            <div class="vantagem border-container rounded-container-top flex-column">
                <img src="../Resources/Produto/icon-checklist.png" alt="Icone Tarefas" draggable="false">
                <h3>Pratique muito esporte</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur autem natus eos ex libero sed optio animi, hic aperiam iusto eligendi, repellendus temporibus quibusdam molestias modi, minima numquam laborum ipsa.</p>
            </div>
        </div>
        <section>
            <h2>Nossos planos</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur eaque similique doloribus molestiae labore culpa debitis, suscipit ea, laboriosam sequi itaque incidunt nobis soluta recusandae inventore, libero voluptate qui odit?</p>
        </section>
        <section class="flex-container evenly-container" id = "benefits">
            <div class="benefit flex-column border-container rounded-container-bottom">
                <div class="rounded-container-bottom border-container">
                    <h3>Plano Comum</h3>
                </div>
                <p>Gratis</p>
                <span></span>
                <div class="vantagens">
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                </div>
                <a class="flex-centered custom-button" href="LogineCadastro.html">Registrar-se</a>
            </div>
            <div class="benefit flex-column border-container rounded-container-bottom">
                <div class="rounded-container-bottom border-container">
                    <h3>Plano Comum</h3>
                </div>
                <p>R$50,00/mes</p>
                <p>R$540,00/ano</p>
                <div class="vantagens">
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                </div>
                <span></span>
                <a class="flex-centered custom-button" href="">Comprar plano mensal</a>
                <a class="flex-centered custom-button" href="">Comprar plano anual</a>
            </div>
            <div class="benefit flex-column border-container rounded-container-bottom">
                <div class="rounded-container-bottom border-container">
                    <h3>Plano Comum</h3>
                </div>
                <p>R$50,00/mes</p>
                <p>R$540,00/ano</p>
                <div class="vantagens">
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                    <p>- Vantagem</p>
                </div>
                <a class="flex-centered custom-button" href="">Comprar plano mensal</a>
                <a class="flex-centered custom-button" href="">Comprar plano anual</a>
            </div>
        </section>
    </section>
</body>
</html>