@{
    Layout = "../Shared/Layout";
}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <link rel="stylesheet" href="../CSS/SobreNos.css">
</head>
<body>
    <section class="content">
        <h1>Quem somos</h1>
        <div class="polaroids">
            <div>   
                <div class="polaroid border-container flex-column">
                    <img src="../Resources/QuemSomos/filip.jpeg" alt="Felipe Pereira de Oliveira" draggable="false">
                    <p>Felipe Pereira de Oliveira</p>
                    <p class="quote">Usem NoSQL para BigData</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum cum ipsam porro autem tempora, veritatis culpa placeat animi dolorum vero illo repellat obcaecati qui necessitatibus dolore odio? Ipsa, quam?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam porro enim totam, reprehenderit aliquid quam eaque incidunt repellat dolore tenetur vero nisi vel tempora minus eveniet, fuga, inventore excepturi est.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolorum, repudiandae quia quo tempore nesciunt? Soluta quibusdam ducimus non nostrum totam laborum harum autem numquam. Quia laudantium accusantium amet atque.
                </p>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum cum ipsam porro autem tempora, veritatis culpa placeat animi dolorum vero illo repellat obcaecati qui necessitatibus dolore odio? Ipsa, quam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, numquam. Natus debitis laudantium iure, quam, at fuga deleniti quod minima atque enim dolores veritatis animi, similique blanditiis temporibus placeat ab.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis reiciendis repudiandae ipsam provident ea esse soluta sint nemo! Assumenda accusantium aperiam eos consectetur officia fugit harum, enim perspiciatis laboriosam autem!
                </p>
                <div class="polaroid border-container flex-column">
                    <img src="../Resources/QuemSomos/tsukamito.jpg" alt="Carlos Eduardo Tsukamoto" draggable="false">
                    <p>Carlos "Tsukamoto"</p>
                    <p class="quote">Tsuka se recusou a trabalhar no template</p>
                </div>
            </div>
            <div>
                <div class="polaroid border-container flex-column">
                    <div></div>
                    <p>Fernando Henrique</p>
                    <p class="quote"></p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptatibus nam odio ex nisi architecto nostrum. Vitae aliquam, sunt maiores libero incidunt eveniet dolorem iusto commodi ex distinctio autem qui?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium maxime et eos voluptatibus odit sapiente, tempore quod fugit quidem minus corporis inventore amet perspiciatis deserunt aliquam repellendus! Maiores, sunt molestias.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum cum ipsam porro autem tempora, veritatis culpa placeat animi dolorum vero illo repellat obcaecati qui necessitatibus dolore odio? Ipsa, quam?
                </p>
            </div>
        </div>
    </section>
    <section id="story">
        <h2>Nossa história</h2>
        <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta animi laudantium consectetur nihil deleniti voluptatum distinctio ex repudiandae, ipsa, sed laboriosam sit veniam autem? Commodi nihil molestiae natus consequuntur aliquam!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla fuga ipsum maxime quas accusantium, eveniet beatae? Tempore vero repellat, qui illo sint iusto, suscipit aperiam rerum quod sed reiciendis id.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque libero cumque aut voluptatum voluptas, nihil veniam! Non deserunt blanditiis qui amet molestiae quia repudiandae, recusandae ipsa laboriosam tenetur? Deserunt, ex.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aperiam nesciunt corrupti in architecto ex rem modi labore omnis vero harum odit distinctio rerum expedita officiis, quod voluptas perferendis doloremque?</p>
    </section>
</body>
</html>